@import "global.css";

.surveys-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff6600;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto; /* Center the login box vertically */
  border: 8px solid;
  border-color: #ffff00;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family:cursive; 
  color: #6600cc;
  font-size: 24px;
  padding: 20px 0 20px 0;
}

a {
  font-size: 24px;
  text-decoration: none;
  color: #ffff00;
}

a:hover {border-bottom: 1px solid #ffff00;
}
