@import "global.css";

.surveys-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 40px;
}

a {
  font-size: 24px;
  text-decoration: none;
  color: #0066cc;
}

a:hover {
  border-bottom: 1px solid #0066cc;
}
