* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/*general background for all pages*/
body {
  background-image: url('bg1.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  width: 100%; /* Set the width to fill the entire viewport */
  background-color: #ffffff;
  text-align: center; /* Center the contents horizontally */
}

/*borders for box*/
.login {
  width: 400px;
  background-color: #ff6600;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto; /* Center the login box vertically */
  border: 8px solid;
  border-color: #ffff00;
}

/*Title of box*/
.login h1 {
  	text-align: center;
  	font-family:cursive; 
  	text-shadow: 2px 2px black;
  	color: #ffffff;
  	font-size: 24px;
  	padding: 20px 0 20px 0; 	
}

/*Box Formatting*/
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}

/*Box Icons Formatting*/
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #ffff00;
  	color: #6600cc;
}

/*Box Input Fields Formatting*/
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}

/*Button Formatting*/
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: #6600cc;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
  	font-family:cursive;
}

/*Hovering Button*/
.login form input[type="submit"]:hover {
	background-color: #bd2ff5;
  	transition: background-color 0.2s;
}


